<div class="row mt-4 p-3">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">part number</th>
          </tr>
          </thead>
          <tbody>
            @for (todo of parts$(); track todo) {
              <tr (click)="selectPart(todo)" style="cursor: pointer"
                  [ngClass]="{'table-active': todo.id === selectedPartId}">
                <td>{{ todo.title }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3">
      <form [formGroup]="todoForm" (ngSubmit)="addPart()">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="todo" aria-label="Text input with segmented dropdown button">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">add todo</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-primary" (click)="deletePart()" [disabled]="!selectedPart">delete</button>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-primary" (click)="deleteAllParts()">delete all</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="mb-3">
      <label for="formFile" class="form-label">Excel-Datei hochladen</label>
      <input class="form-control" type="file" id="formFile"
             accept=".xlsx,.xls" (change)="uploadExcel($event)" #fileInput>
      <button class="btn btn-primary mt-2" (click)="fileInput.click()">
        Excel hochladen
      </button>
    </div>
  </div>
</div>
