<div class="row mt-4 p-3">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">idl number</th>
            <th scope="col">part number</th>
            <th scope="col">level</th>
          </tr>
          </thead>
          <tbody>
            @for (level of parts$(); track level) {
              <tr (click)="selectPart(level)" style="cursor: pointer"
                  [ngClass]="{'table-active': level.id === selectedPartId}">
                <td>{{ level.idlNumber }}</td>
                <td>{{ level.partNumber }}</td>
                <td>{{ level.level }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4>additional part infos</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-6">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning" (click)="deletePart()" [disabled]="!selectedPart">delete</button>
      <button type="button" class="btn btn-danger" (click)="deleteAllParts()">delete all</button>
    </div>
  </div>
  <div class="col-4">
    <form [formGroup]="partForm" (ngSubmit)="addPart()">
      <div class="input-group">
        <input type="text" class="form-control" formControlName="part" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-primary">add part</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="mb-3">
      <label for="formFile" class="form-label">Excel-Datei importieren</label>
      <input class="form-control" type="file" id="formFile"
             accept=".xlsx,.xls" (change)="uploadExcel($event)" #fileInput>
    </div>
  </div>
</div>
</div>
