<div class="row">
  <div class="col-2">
    <div class="d-flex align-items-center mb-2">
      <div class="form-floating mb-2">
        <select class="form-select" id="msnSelect" [(ngModel)]="selectedMsn" (ngModelChange)="onMsnChange($event)">
          @for (msn of msns$(); track msn) {
            <option [value]="msn.msnId">{{ msn.msnId }}</option>
          }
        </select>
        <label for="msnSelect">MSN</label>
      </div>
      <button type="button" class="btn btn-danger mt-2" (click)="deleteMsn()" [disabled]="!selectedMsn">löschen</button>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label"></label>
      <input class="form-control" type="file" id="formFile"
             accept=".xlsx,.xls" (change)="uploadExcel($event)" #fileInput>
    </div>
    <form [formGroup]="msnForm" (ngSubmit)="addMsn()">
      <div class="input-group">
        <input type="text" class="form-control" formControlName="msn" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-primary">add msn</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-10">
    <h2>MSN: {{ this.selectedMsn }}</h2>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">IDL Nummer</th>
        <th scope="col">Assy</th>
        <th scope="col">Teilenummer</th>
        <th scope="col">Materialkurztext</th>
        <th scope="col">MSN ID's</th>
        <th scope="col">Level</th>
      </tr>
      </thead>
      <tbody>
        @for (part of parts$(); track part) {
          <ng-container *ngTemplateOutlet="recursiveTable; context: { $implicit: part, level: 0 }">
          </ng-container>
        }
      </tbody>
    </table>

    <ng-template #recursiveTable let-part let-level="level">
      <tr (click)="selectPart(part)"
          style="cursor: pointer"
          [ngClass]="{'table-active': part.id === selectedPartId}">
        <td [style.padding-left.px]="level * 20">
          <i *ngIf="part.children?.length"
             class="bi"
             [class.bi-caret-down-fill]="isExpanded(part.id)"
             [class.bi-caret-right-fill]="!isExpanded(part.id)"
             (click)="toggleExpand(part.id, $event)">
          </i>
          {{ part.idlNumber }}
        </td>
        <td>
          <i *ngIf="part.isAssy; else cross" class="bi bi-check-lg text-success"></i>
          <ng-template #cross>
            <i class="bi bi-x-lg text-danger"></i>
          </ng-template>
        </td>
        <td>{{ part.partNumber }}</td>
        <td>{{ part.matShortText }}</td>
        <td>{{ part.msnIds }}</td>
        <td>{{ part.level }}</td>
        <td>
          <i *ngIf="part.isAssey" class="bi bi-box-seam text-primary"></i>
        </td>
      </tr>
      @if (part.children?.length && isExpanded(part.id)) {
        @for (child of part.children; track child) {
          <ng-container *ngTemplateOutlet="recursiveTable; context: { $implicit: child, level: level + 1 }">
          </ng-container>
        }
      }
    </ng-template>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-6">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning" (click)="deletePart()" [disabled]="!selectedPart">delete part</button>
      <button type="button" class="btn btn-danger" (click)="deleteAllParts()">delete all parts</button>
    </div>
  </div>
  <div class="col-4">
    <form [formGroup]="partForm" (ngSubmit)="addPart()">
      <div class="input-group">
        <input type="text" class="form-control" formControlName="part" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-primary">add part</button>
        </div>
      </div>
    </form>
  </div>

</div>
</div>
