<div class="row mt-4 p-3">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Todo</th>
          </tr>
          </thead>
          <tbody>
            @for (todo of todos$(); track todo) {
              <tr (click)="selectTodo(todo)" style="cursor: pointer"
                  [ngClass]="{'table-active': todo.id === selectedTodoId}">
                <td>{{ todo.title }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3">
      <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="todo" aria-label="Text input with segmented dropdown button">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">add todo</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-primary" (click)="deleteTodo()" [disabled]="!selectedTodo">delete</button>
    </div>
  </div>
</div>
